<!DOCTYPE html>
<html lang="en" dir="ltr">
<meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />
<meta charset="utf-8">
<!-- CSS -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<!-- <link rel="stylesheet" href="../css/styles.css"> -->
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="../css/gallery.css">
<link rel="stylesheet" href=/css/bootstrap.css> <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
<link rel="stylesheet" href="/css/gallery.css">

<head>
  <meta charset="utf-8">
  <title>
    <%= albumTitle %>
  </title>
  <script type="text/javascript">
    function submitForm() {
      document.getElementById('<%= albumTitle %>Form').submit();
    }
  </script>
  <style>
    <% for(var i=0; i<albumLinks.length; i++) { %>
  <% var iNo = i + 1; %>
    .img_1-<%= iNo %> {
      background-image: url('<%= albumLinks[i] %>');
      }
  <% } %>
</style>
</head>

<body>
  <nav class="navbar navbar-expand-md bg-light navbar-light">
    <form class="" method="post" action="/gallery" id="<%= albumTitle %>Form">
      <a class="navbar-brand" onclick="submitForm()">
        <%= albumTitle %></a>
    </form>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#collapsibleNavbar">
      <span class="navbar-toggler-icon"></span>
    </button>
  </nav>
  <%= console.log("array being used: " + imageLinks) %>
  <% for(var i=0; i<imageLinks.length; i++) { %>
  <% var iNo = i + 1; %>
  <div class="square img_1-<%= iNo %>">
    <h2>
      <%= imageLinks[i] %>
    </h2>
  </div>
  <% } %>
</body>

</html>
